# Environments
venv/
env/
.env
.env.local
.env.*.local
.venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Specific to project
data/uploads/*
!data/uploads/.gitkeep

# IDEs
.idea/
.vscode/
*.swp

# Other
.poppler/

# Vercel
.vercel
